.headline-link:hover + .headline-wrapper {
  max-height: 500px; 
  top: 10px;
  padding-bottom: 20px;
  /* border: solid 1px white; */
}

.headline-wrapper {
  box-sizing: border-box;  
  max-height: 0px;
  /* transition: max-height 1s ease-in-out; */
  transition: all 1s ease-in-out;  
  overflow: hidden;
  position: relative;
  top: 0;
}

.headline-wrapper .headline-content {  
  /* margin-top: 10px; */
  height: 400px;
  background-color: cadetblue;
  border: solid 1px white;
  box-sizing: border-box;
}